<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} %X{req.remoteHost} %X{req.requestURI} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/spring-music.log</file>
        <append>true</append>
        <encoder>
            <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd} %d{HH:mm:ss.SSS} %X{req.remoteHost} %X{req.requestURI} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--<appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
        <!--<destination>elk:5000</destination>-->

        <!--<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
            <!--<providers>-->
                <!--<mdc/> &lt;!&ndash; MDC variables on the Thread will be written as JSON fields&ndash;&gt;-->
                <!--<context/> &lt;!&ndash;Outputs entries from logback's context &ndash;&gt;-->
                <!--<version/> &lt;!&ndash; Logstash json format version, the @version field in the output&ndash;&gt;-->
                <!--<logLevel/>-->
                <!--<loggerName/>-->

                <!--<pattern>-->
                    <!--<pattern> &lt;!&ndash; we can add some custom fields to be sent with all the log entries.&ndash;&gt;-->
                    <!--{      &lt;!&ndash;make filtering easier in Logstash&ndash;&gt;-->
                        <!--"appName": "elk-testdata",-->
                        <!--"appVersion": "1.0"-->
                        <!--}-->
                    <!--</pattern>-->
                <!--</pattern>-->

                <!--<threadName/>-->
                <!--<message/>-->

                <!--<logstashMarkers/> &lt;!&ndash; Useful so we can add extra information for specific log lines as Markers&ndash;&gt;-->
                <!--<arguments/> &lt;!&ndash;or through StructuredArguments&ndash;&gt;-->

                <!--<stackTrace/>-->
            <!--</providers>-->
        <!--</encoder>-->
    <!--</appender>-->
    <logger name="deng" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <appender-ref ref="STASH"/>
    </root>
</configuration>